{% extends "layout.njk" %}
{% block head %}

<title>Projetos - Wilson Wagner</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

{% endblock %}

{% block content %}

        <div id="TITULO">
            <h1>CONTEÚDOS</h1>
        </div>

        <section class="grids">
            {% for item in items %}
            <div class="grid" id="{{item.id}}">
                <div class="gridImagem">
                    <img src="{{item.icon}}" alt="Imagem do {{item.id}}">
                </div>
                <div class="gridConteudo">
                    <p>{{item.id}}</p>
                </div>
                <div class="gridInfo">
                    <P>{{item.modules}}</P>
                    <p class="gridPrice">{{item.price}}</p>
                </div>
            </div>
            {% endfor %}
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <div class="modalClose">
                    <span class="material-icons"> cancel </span>
                </div>
                <div class="modalContent">
                    <iframe src="https://rocketseat.com.br/starter" frameborder="0"></iframe>
                </div>
            </div>
        </div>
        <script src="/script.js"></script>

{% endblock %}