<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Wilson Wagner</title>
        {% endblock %}
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/">Inicio</a>
                <a href="/projetos">Projetos</a>
                <a href="https://www.github.com/wilsonwagner" target="_blank">Github</a>
                <a href="https://www.linkedin.com/in/wilsonwagner/" target="_blank">Linkedin</a>
                <a href="https://www.behance.net/wilsonwagner" target="_blank">behance</a>
            </div>
        </header>

        {% block content %}
        
        {% endblock %}

    </body>
</html>