
{% extends 'layout.njk' %}

{% block head %}
    <title>Inicio</title>
{% endblock %}

{% block content %}

<div id="InfoRocketseat" class="links">
    <img src="https://www.reshape.com.br/assets/uploads/rocketseat.png" alt="Logo da Rocketseat">
    <h1>Instituição educacional</h1>
    <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀</p>
</div>
{% endblock %}
