<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Desafio 2-2</title>
        {% endblock %}
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/styles.css"> 

    </head>

    <body>
        <header>
            <div class="links">
                <a href="/">Inicio</a>
                <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                <a href="mailto:oi@rocketseat.com.br">E-mail</a> <!--O "Maito" abre automaticamente a ferramente de e-mail no Windows-->
                <a href="tel:+5547992078767">Telefone</a>
                <a href="/sobre">Sobre</a>
                <a href="/cursos">Cursos</a>
            </div>
        </header>
        {% block content %}
        
        {% endblock %}
    </body>
    <script src="script.js"></script>
</html>