{% extends 'layout.njk' %}

{% block head %}
    <title>Error44 Not Found</title>
{% endblock %}

{% block content %}
<div class="PagErro">
    <h1>ESSA PÁGINA NÃO EXISTE</h1>
    <p>Essa página que você está tentando acessar está com problemas ou não existe, entre em contato com a administração para mais detalhes.</p>
</div>

{% endblock %}